html {
    font-size: 16px;
    line-height: 1.6;
    background-color: #252a34;
    color: #eaeaea;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}
