.table-container{
    margin-inline: auto;
    width: min(90%, 95rem);
}

.blank{
    background-color: #595959;
}

.tables{
    background: black;
}

.semester1{
    position: relative;
    float: left;
    width: min(49.5%, 50rem);
}

.semester2{
    position: relative;
    float: right;
    width: min(49.5%, 50rem);
}

h1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
}

th{
    text-decoration: underline;
    text-underline-offset: 5px;
}

table{
    border-spacing: 5px 20px;
}

td{
    background: #eaeaea;
    font-weight: 600;
    color: black;
    text-decoration: bold;
    text-align: center;
    height: 85px;
    border-radius: 2px;
}
